body {
    background-color: grey;
}

.box {
    background-color: white;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box1 {
    background-color: black;
}

#box1 h1 {
    font-size: 50px;
    color: green;
    font-family: Arial;
}

#box2 {
    justify-content: flex-start;
}

#box3 a {
    font-size: 50px;
}

#box4 {
    flex-direction: column;
}

#box4 div {
    flex-direction: row;
}

#box41 td {
    background-color: red;
    width: 50px;
    height: 50px;
}

#box42 td {
    margin: 5px;
    background-color: green;
    width: 50px;
    height: 50px;
}

#box5 img {
    width: 100px;
}

#box6 a img {
    width: 100px;
}

#boxspecial table tr td {
    width: 25px;
    height: 25px;
    background-color: black;
}

#boxspecial table tr .hidden {
    visibility: hidden;
}